########################################################
# Restringir acceso a src salvo scripts PHP (Apache 2.2/2.4)
########################################################

# Apache 2.4
<IfModule mod_authz_core.c>
    Require all denied
    <FilesMatch "\.php$">
        Require all granted
    </FilesMatch>
 </IfModule>

# Compatibilidad Apache 2.2
<IfModule !mod_authz_core.c>
    Deny from all
    <Files "*.php">
        Allow from all
    </Files>
</IfModule>
